@import '../../../assets/scss/mixins';

.myPost {
  margin-top: 2rem;
  @include prettyBox;

  .form {
    &Item {
      &Container {
        margin-top: .5rem;

        &TextArea {
          background-color: #f7f7f7;
        }
      }
    }

    &SubmitButton {
      margin-top: 1rem;
      text-align: right;
    }
  }

  .listOfPosts {
      .postMessage{
        word-break: break-word;
      }
  }
}
