@import '../../common/_mixins.scss';

.sidebar {
  width: 200px;
  align-self: start;
  @include prettyBox;


  .menu {
    .navLink {
      color: #666666;
      font-size: 18px;

      span {
        margin-right: 10px;
      }
    }

    .active {
      color: #1890ff;
    }
  }

}