.sidebar {
  padding: 1rem 2rem;
  width: 200px;
  border-radius: 8px;
  background-color: #fff;
  align-self: start;

  .menu {
    .navLink {
      color: #666666;
      font-size: 18px;

      span {
        margin-right: 10px;
      }
    }

    .active {
      color: #1890ff;
    }
  }

}