@import '../../assets/scss/mixins';

.dialogs {
  @include prettyBox;
  display: grid;
  grid-template-columns: 3fr 9fr;

  .dialog {

    .dialogBox {
      padding: .5rem;

      &:hover {
        background: #ececec;
      }

      .dialogLink {
        display: flex;
        align-items: center;
      }

      .avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: .3rem;
      }
    }
  }

  .messages {

    .message {
      div {
        padding: .5rem;
        border-radius: 10px;
        background: #f3f3f3;
      }

      &:nth-child(even) {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }

      &:nth-child(odd) {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }
    }
  }

  .form {
    margin-top: 2rem;

    &Item {
      &Container {
        margin-top: .5rem;

        &TextArea {
          background-color: #f7f7f7;
        }
      }
    }

    &SubmitButton {
      margin-top: 1rem;
      text-align: right;
    }
  }


}


